@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Simple shop</h1>
</div>

<div class="row">
    <div class="col-md-12">
        Click in Products tab to see list of products.
    </div>
</div>
